.eventsDisplay {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.eventsDisplay img, .eventInfo img {
  height: 50px;
  width: 50px;
}

.statusCol, .imageCol, .timeCol, .dateCol, .actionCol {
  width: 50px;
}

td {
  text-align: center;
}

.actionButton {
  margin: 5px;
  cursor: pointer;
}

.eventInfo {
  display: flex;
  justify-content: space-between; 
  width: 99vw;
  align-items: center;
}
