.eventsDisplay {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.eventsDisplay img {
  height: 50px;
  width: 50px;
}

.statusCol {
  width: 50px
}

.imageCol {
  width: 60px;
}

td {
  text-align: center;
}

.eventInfo {
  display: flex;
  justify-content: space-between; 
  width: 99vw;
  align-items: center; 
}

.eventInfo img {
  height: 50px;
  width: 50px;
}
