.login-wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 0;
   margin: 0;
}

body {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  margin: 0; 
}

form, label {
   border: none;
}

.password-box, .submit-button {
   margin-bottom: 10px;
}